{% extends 'base.html' %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' institution.pk %}">Courses</a></li>
<li class="breadcrumb-item active">{{course.name}}</li>
<li class="breadcrumb-item active">Students</li>
{% endblock %}

{% block content %}

<table class="table">
    <thead class="thead-inverse">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        {% for student in students %}
        <tr>
            <td class="align-middle">{{ student.user.first_name }}</td>
            <td class="align-middle">{{ student.user.last_name }}</td>
            <td class="align-middle">{{ student.user.username }}</td>
            <td class="align-middle">{{ student.user.email }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}