{% extends 'base.html' %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'game_list' game.course.pk %}">Games</a></li>
<li class="breadcrumb-item active">{{game.name}}</li>
{% endblock %}

{% block content %}
<h6>Players:
    {% for player in players_list %}
    {{player}} &nbsp;
    {% endfor %}
</h6>
<div>
    {% if game.next_play_by.username == request.user.username %}
    {% if game.status == 'S' %}
    <h6>
        <form class="row g-2" method="post">
            {% csrf_token %}
            <div class="col-auto" style="padding-top: 0.5em;">
                <label for="played_value">Your turn:</label>
                <input type="decimal" class="form-control-decimal" name="played_value">
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-1">Send</button>
            </div>
        </form>
    </h6>
    {% endif %}
    {% endif %}

    {% if game.created_by.username == request.user.username %}
    {% if game.status == 'C' %}

    <div class="mb-4">
        <a href="{% url 'start_game' game.pk %}" class="btn btn-primary">Start game</a>
    </div>

    {% endif %}
    {% endif %}

    {% if game.status == 'S' %}
    <h6>
        Now playing: {{game.next_play_by.username}}
    </h6>
    {% endif %}

</div>
<table class="table">
    <thead class="thead-inverse">
        <tr>
            <th>round</th>
            <th>by</th>
            <th>value</th>
            <th>result</th>
        </tr>
    </thead>
    <tbody>
        {% for game_turn in game_turns %}
        <tr>
            <td>
                {{ game_turn.round }}</a>
            </td>
            <td class="align-middle">{{ game_turn.game_player.player.username }}</td>

            <td class="align-middle">
                {{ game_turn.value_played}}
            </td>

            <td class="align-middle">

                {{ game_turn.round_result }}

            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}