{% extends 'base.html' %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' institution.pk %}">Courses</a></li>
<li class="breadcrumb-item active">{{course.name}}</li>
<li class="breadcrumb-item active">Games</li>
{% endblock %}

{% block content %}
{% if not user_has_active_games and not user.is_instructor %}
<div class="mb-4">
    <a href="{% url 'new_game' course.pk %}" class="btn btn-primary">New game</a>
</div>
{% endif %}
<table class="table">
    <thead class="thead-inverse">
        <tr>
            <th>Game</th>
            <th>Length</th>
            <th>Status</th>
            <th>Created</th>
            <th>Players</th>
            <th>Result</th>
        </tr>
    </thead>
    <tbody>
        {% for game in games %}
        <tr>
            {% if game.user_joined or request.user.is_instructor %}
            <td>
                <a href="{% url 'game' game.pk %}">{{ game.name }}</a>
            </td>
            {% else %}
            <td>
                {{ game.name }}</a>
            </td>
            {% endif %}

            <td class="align-middle">{{ game.max_turns }}</td>

            <td class="align-middle">{{ game.get_status_display }}</td>

            <td class="align-middle">
                <small>
                    <a href="#">
                        By {{ game.created_by.username }}
                    </a>
                </small>
            </td>

            <td class="align-middle">
                {{ game.playerslist}}
                {% if not user.is_instructor and not game.user_joined and not user_has_active_games %}
                <span>
                    <a href="{% url 'joinin_game' game.pk %}" style="padding-left: 1em">
                        [join in]
                    </a>
                </span>
                {% endif %}
            </td>

            <td class="align-middle">
                {% if game.result > -1 %}
                {{game.result}}
                {% endif %}
            </td>

        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}