{% extends 'base.html' %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' institution.pk %}">Courses</a></li>
<li class="breadcrumb-item active">{{game.course.name}}</li>
<li class="breadcrumb-item active"><a href="{% url 'game_list' game.course.pk %}">Games</a></li>
<li class="breadcrumb-item active">{{game.name}}</li>
{% endblock %}

{% block content %}
<h6>Players:
    {% for player in players_list %}
    {{player}} &nbsp;
    {% endfor %}
</h6>

<br>

<table class="table">
    <tr>
        <td rowspan="2"></td>
        <th colspan="2" scope="colgroup" style="text-align: center">Retailer</th>
        <th colspan="2" scope="colgroup" style="text-align: center">Wholesaler</th>
        <th colspan="2" scope="colgroup" style="text-align: center">Distributor</th>
        <th colspan="2" scope="colgroup" style="text-align: center">Manufacturer</th>
        <th colspan="1" scope="colgroup" style="text-align: center"></th>
    </tr>
    <tr>
        <th scope="col">Inventory</th>
        <th scope="col">Backlock</th>
        <th scope="col">Inventory</th>
        <th scope="col">Backlock</th>
        <th scope="col">Inventory</th>
        <th scope="col">Backlock</th>
        <th scope="col">Inventory</th>
        <th scope="col">Backlock</th>
        <th scope="col">Acum</th>
    </tr>
    {% for rnd in list_result %}
    <tr>
        {% for col in rnd %}
        {% if forloop.counter > 1 %}
        <td>{{ col }}</td>
        {% else %}
        <th scope="row">Round {{ col }}</th>
        {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
</table>

{% endblock %}

{% block javascript %}
{% endblock %}