{% extends 'base.html' %}

{% block breadcrumb %}
<li class="breadcrumb-item active">Games</li>
{% endblock %}

{% block content %}
{% if not user_has_active_games %}
<div class="mb-4">
    <a href="{% url 'new_game' %}" class="btn btn-primary">New game</a>
</div>
{% endif %}
<table class="table">
    <thead class="thead-inverse">
        <tr>
            <th>Game</th>
            <th>Status</th>
            <th>Created</th>
            <th>Players</th>
        </tr>
    </thead>
    <tbody>
        {% for game in games %}
        <tr>
            <td>
                <a href="{% url 'game' game.pk %}">{{ game.name }}</a>
            </td>
            <td class="align-middle">{{ game.get_status_display }}</td>

            <td class="align-middle">
                <small>
                    <a href="#">
                        By {{ game.created_by.username }}
                    </a>
                </small>
            </td>
            <td class="align-middle">
                {{ game.playerslist}}
                <span>
                    <a href="{% url 'joinin_game' game.pk %}" style="padding-left: 1em">
                        [join in]
                    </a>
                </span>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}