{% extends 'base.html' %}

{% block breadcrumb %}
<li class="breadcrumb-item active">Courses</li>
{% endblock %}

{% block content %}

<div class="mb-4">
    <a href="" class="btn btn-primary">New course</a>
</div>

<table class="table">
    <thead class="thead-inverse">
        <tr>
            <th>Course</th>
            <th>Status</th>
            <th>Institution</th>
            <th>Students</th>
        </tr>
    </thead>
    <tbody>
        {% for course in courses %}
        <tr>
            <td>
                <a href="{% url 'game_list' course.pk %}">{{ course.name }}</a>
            </td>

            <td class="align-middle">{{ course.get_status_display }}</td>

            <td class="align-middle">{{ course.institution.name }}</td>

            <td class="align-middle">
                {{ course.students.count }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}