{% extends 'base.html' %}

{% block title %}Start a New Game{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' institution.pk %}">Courses</a></li>
<li class="breadcrumb-item active">{{course.name}}</li>
<li class="breadcrumb-item active"><a href="{% url 'game_list' course.pk %}">Games</a></li>
<li class="breadcrumb-item active">New</li>
{% endblock %}

{% block content %}
<form method="post" novalidate>
    {% csrf_token %}
    {% include 'includes/form.html' %}
    <button type="submit" class="btn btn-success">Start</button>
</form>
{% endblock %}